@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
  --color-text-yellow-ligth: #e4bb23;
  --color-text-yello-dark: #bc9a1d;

  --bg-main-catalog: #F2F2F2;

  --color-text-black: #000000;
  --color-text-white: #FFFFFF;
  --color-text-gray: #CCCCCC;

  --color-icon-heart: #E74C3C;

  --color-icon-twitter: #55ACEE;
  --color-icon-facebook: #3B5998;
  --color-icon-instagram: #E95950;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 960px;
  max-width: 100%;
}

.header {
  background-image: url(../img/capa-madmax.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  padding: 20px;
  position: relative;
}

.header:after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header-menu {
  display: flex;
  z-index: 2;
}

.header-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
}

.header-menu-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu-navigation li {
  margin: 0 25px;
}

.header-menu-navigation li a {
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--color-text-white);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.header-menu-navigation li a:hover {
  color: var(--color-text-yellow-ligth);
}

.header-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-user-image {
  border-radius: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  height: 45px;
  margin-right: 15px;
  overflow: hidden;
  width: 45px;
}

.header-user-image img {
  width: 100%;
  height: auto;
}

.header-user-name {
  color: var(--color-text-white);
  font-size: 0.85rem;
  font-weight: bold;
}

.header-banner {
  width: 100%;
}

.header-banner .container {
  position: relative;
  z-index: 2;
}

.banner-titulo {
  color: var(--color-text-white);
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
  margin: 0;
  text-transform: uppercase;
}

.banner-gener {
  display: flex;
  margin: 15px 0 30px;
  font-size: 0.85rem;
}

.banner-gener-item {
  color: var(--color-text-white);
  text-decoration: none;
  margin-right: 15px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.banner-gener-item:hover {
  color: var(--color-text-yellow-ligth);
}

.banner-button {
  display: inline-block;
  padding: 15px 50px;
  color: var(--color-text-black);
  font-size: 0.95rem;
  text-decoration: none;
  background: var(--color-text-yellow-ligth);
  border-radius: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.banner-button i {
  font-size: 1.5rem;
  position: absolute;
  right: 15px;
  top: 12px;
}

.banner-button:hover {
  background-color: var(--color-text-yello-dark);
}

.banner-information {
  padding: 20px 0;
  font-size: 0.95rem;
  color: var(--color-text-white);
}

.banner-information p:last-child {
  color: var(--color-text-yello-dark);
}

.main {
  width: 100%;
}

.catalog {
  background: var(--bg-main-catalog);
  width: 100%;
}

.catalog-menu {
  width: 100%;
}

.catalog-menu-options {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0 20px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.catalog-menu-option {
  margin: 0 20px;
}

.catalog-menu-option a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-yellow-ligth);
  font-size: 0.95rem;
  font-weight: bold;
  padding: 25px 0;
  text-transform: uppercase;
}

.catalog-menu-option a:hover {
  box-shadow: inset 0 -1px 0 var(--color-text-yellow-ligth);
}

.catalog-movies {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.catalog-movie {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 24%;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-text-white);
}

.movie-image {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.movie-image img {
  width: 100%;
  height: auto;
}

.movie-image-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.catalog-movie:hover .movie-image-info {
  opacity: 1;
  visibility: visible;
}

.movie-image-info h3 {
  color: var(--color-text-yellow-ligth);
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.movie-image-link {
  color: var(--color-text-white);
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}

.movie-image-link:hover {
  color: var(--color-text-yellow-ligth);
}

.movie {
  padding: 10px;
  width: 100%;
}

.movie-title {
  font-size: 1.1rem;
  margin: 0;
}

.movie-gener {
  display: flex;
  margin: 10px 0;
}

.movie-gener-item {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--color-text-yellow-ligth);
}

.movie-gener-item:hover {
  text-decoration: underline;
}

.movie-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.movie-note i {
  color: var(--color-text-gray);
  cursor: pointer;
}

.movie-note :hover {
  color: var(--color-icon-heart);
}

footer {
  background-color: var(--color-text-white);
  padding: 20px 0;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-contact-item {
  margin: 0 20px;
}

.footer-contact-item:last-child {
  margin-right: 0;
}

.footer-contact-item a {
  font-size: 1.5rem;
  color: var(--color-text-gray);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.icon-twitter a:hover {
  color: var(--color-icon-twitter);
}

.icon-facebook a:hover {
  color: var(--color-icon-facebook);
}

.icon-instagram a:hover {
  color: var(--color-icon-instagram);
}

@media (max-width: 750px) {
  .catalog-movie {
    width: 30%;
  }

  .header-logo {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 595px) {
  .header {
    height: 100vh;
  }

  .header-menu-navigation {
    flex-direction: column;
  }

  .header-menu-navigation li {
    margin: 10px 0;
  }

  .catalog-menu-options {
    flex-wrap: wrap;
  }

  .catalog-movie {
    width: 45%;
  }
}

@media (max-width: 450px) {

  .movie-image-info h3{
    font-size: 2rem;
  }

  .catalog-movie {
    width: 100%;
    margin: 10px;
  }
}
